$nav-color: #242424;
$nav-text-color: #595959;
$footer-text-color: #636363;
$footer-bg-color: #f2f2f2;
$text-hover: #595959;
$dark-grey: #333333;
$font-rounded: "Neuzeit Office";
$font-text: "NeuzeitS-Book";
$font-mobile-menu-text: "NeuzeitS-Book";
$menu-drawer-border-color: rgba(0, 0, 0, 0.1);
$menu-drawer-color-dark: #e4e4e4;
$menu-drawer-color-light: #9c9c9c;
$color-sale: #f26c4f;
$about-background: #f8f8f8;
$color-references: #363a44;

// --font-weight-normal: 400;
//     --font-weight-bold: 700;
//     --font-weight-header-bold: 700;
//     --header-font-stack: "Neuzeit Office Soft Rounded", sans-serif;
//     --header-font-weight: 700;
//     --header-font-style: normal;
//     --header-text-size: 28;
//     --header-text-size-px: 28px;
//     --header-font-case: normal;
//     --header-font-size: 14;
//     --header-font-size-px: 14px;
//     --heading-spacing: 1px;
//     --heading-font-case: normal;
//     --heading-font-stack: FontDrop;
//     --body-font-stack: "Neuzeit Office", sans-serif;
//     --body-font-weight: 400;
//     --body-font-style: normal;
//     --navigation-font-stack: "Neuzeit Office Soft Rounded", sans-serif;
//     --navigation-font-weight: 700;
//     --navigation-font-style: normal;
//     --base-font-size-int: 14;
//     --base-font-size: 14px;
//     --body-font-size-12-to-em: 0.86em;
//     --body-font-size-14-to-em: 1.0em;
//     --body-font-size-16-to-em: 1.14em;
//     --body-font-size-18-to-em: 1.29em;
//     --body-font-size-20-to-em: 1.43em;
//     --body-font-size-22-to-em: 1.57em;
//     --body-font-size-24-to-em: 1.71em;
//     --body-font-size-28-to-em: 2.0em;
//     --body-font-size-36-to-em: 2.57em;
//     --sale-badge-color: #f26c4f;
//     --sold-out-badge-color: #000000;
//     --badge-font-color: #ffffff;
//     --primary-btn-text-color: #ffffff;
//     --primary-btn-bg-color: #333333;
//     --primary-btn-bg-color-lighten50: #b3b3b3;
//     --primary-btn-bg-color-opacity50: rgba(51, 51, 51, 0.5);
//     --primary-btn-bg-hover-color: #4e4e4e;
//     --primary-btn-text-hover-color: #eeeeee;
//     --button-text-case: none;
//     --button-font-size: 12;
//     --button-font-size-px: 12px;
//     --secondary-btn-text-color: #ffffff;
//     --secondary-btn-bg-color: #818181;
//     --secondary-btn-bg-color-lighten: #b4b4b4;
//     --secondary-btn-bg-hover-color: #4e4e4e;
//     --secondary-btn-bg-text-hover-color: #ffffff;
//     --alt-btn-font-style: normal;
//     --alt-btn-font-weight: 400;
//     --text-color: #333333;
//     --text-color-lighten5: #404040;
//     --text-color-lighten70: #e6e6e6;
//     --text-color-transparent05: rgba(51, 51, 51, 0.05);
//     --text-color-transparent15: rgba(51, 51, 51, 0.15);
//     --text-color-transparent5: rgba(51, 51, 51, 0.5);
//     --text-color-transparent6: rgba(51, 51, 51, 0.6);
//     --text-color-transparent7: rgba(51, 51, 51, 0.7);
//     --text-color-transparent8: rgba(51, 51, 51, 0.8);
//     --product-page-font-size: 24;
//     --product-page-font-size-px: 24px;
//     --product-page-font-case: normal;
//     --product-page-font-weight: 500;
//     --link-color: #333333;
//     --on-sale-color: #f26c4f;
//     --body-color: #fff;
//     --body-color-darken10: #e6e6e6;
//     --body-color-transparent00: rgba(255, 255, 255, 0);
//     --body-color-transparent90: rgba(255, 255, 255, 0.9);
//     --body-secondary-color: #f8f8f8;
//     --body-secondary-color-transparent00: rgba(248, 248, 248, 0);
//     --body-secondary-color-darken05: #ebebeb;
//     --color-primary-background: #fff;
//     --color-secondary-background: #f8f8f8;
//     --cart-background-color: #f68e56;
//     --border-color: rgba(51, 51, 51, 0.5);
//     --border-color-darken10: #1a1a1a;
//     --header-color: #ffffff;
//     --header-color-darken5: #f2f2f2;
//     --header-color-lighten5: #ffffff;
//     --header-border-color: #ffffff;
//     --announcement-text-size: 14px;
//     --announcement-text-spacing: 1px;
//     --announcement-text-case: none;
//     --announcement-font-style: normal;
//     --announcement-font-weight: 400;
//     --logo-font-size: 18px;
//     --overlay-header-text-color: #fff;

//     --color-scheme-light-background: #f1f2f3;
//     --color-scheme-light-background-lighten5: #ffffff;
//     --color-scheme-light-text: #414141;
//     --color-scheme-light-text-transparent60: rgba(65, 65, 65, 0.6);
//     --color-scheme-feature-background: #627647;
//     --color-scheme-feature-background-lighten5: #6f8651;
//     --color-scheme-feature-text: #ffffff;
//     --color-scheme-feature-text-transparent60: rgba(255, 255, 255, 0.6);
//     --homepage-sections-accent-secondary-color-transparent60: rgba(255, 255, 255, 0.6);
//     --color-scheme-dark-background: #363a44;
//     --color-scheme-dark-text: #ffffff;
//     --color-scheme-dark-text-transparent60: rgba(255, 255, 255, 0.6);
//     --filter-bg-color: rgba(51, 51, 51, 0.1);
//     --color-footer-bg: #f2f2f2;
//     --color-footer-bg-darken5: #e5e5e5;
//     --color-footer-text: #636363;
//     --color-footer-text-darken10: #4a4a4a;
//     --color-footer-border: rgba(99, 99, 99, 0.1);
//     --popup-text-color: #000;
//     --popup-text-color-lighten10: #1a1a1a;
//     --popup-bg-color: #eeefee;
//     --menu-drawer-color: #fff;
//
//     --menu-drawer-text-color: #000;
//     --menu-drawer-border-color: rgba(0, 0, 0, 0.1);
//     --cart-drawer-color: #fff;
//     --cart-drawer-text-color: #000;
//     --cart-drawer-text-color-lighten10: #1a1a1a;
//     --cart-drawer-border-color: rgba(0, 0, 0, 0.5);
//     --fancybox-overlay: url(
