@import "variables";

@import "flow-header";
@import "flow-footer";
@import "flow-media";

@font-face {
  font-family: "Neuzeit Office";
  src: url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.eot");
  src: url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/3bde563f99f412133b436129cc493ab7.svg#Neuzeit Office")
      format("svg");
}

* {
  box-sizing: border-box;
}

body {
  // height: 11000px;
  height: fit-content;
}
// ~~~~~~~~~~~~main~~~~~~~~~~~~~~~
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -85px;
  background-image: url(./images/hero_image_final_2100x.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  .main__content {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 182px / 2);
    margin-right: 80px;
    z-index: 20;
    color: white;
    max-width: 50%;
    height: fit-content;
  }

  h1 {
    font-family: $font-rounded;
    font-size: 40px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    line-height: 45px;
  }
  p {
    letter-spacing: 1px;
    font-family: $font-text;
    font-weight: lighter;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
  }
}
.btn__shop-now {
  width: 140px;
  height: 40px;
  background-color: white;
  line-height: 40px;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
  font-family: $font-text;
  font-size: 12px;
  letter-spacing: 1.5px;
  cursor: pointer;

  a {
    // pointer-events: visible;
    text-decoration: none;
    color: $dark-grey;
  }
}

// ~~~~~~~~~~~~~~~~~~~~shop-preview~~~~~~~~~~~~~

.shop-preview {
  width: 100%;
  height: fit-content;

  .shop-preview__container {
    position: absolute;
    width: 100%;
    height: fit-content;
    // background-color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -80px;
    z-index: 0;

    h2 {
      font-family: $font-text;
      font-size: 24px;
      margin: 10px;
      cursor: pointer;
    }

    a {
      font-family: $font-text;
      font-size: 14px;
      text-decoration: none;
      color: $dark-grey;
      letter-spacing: 1px;
      cursor: pointer;
    }

    // ~~~~~~right~~~~

    .btn__shop-now.dark {
      background-color: $dark-grey;
      a {
        color: white;
      }
    }
    .btn__shop-now:hover {
      background-color: $text-hover;
    }
  }
}

.shop-preview___item-right {
  width: 50%;
  margin: 40px 40px 40px 20px;
  height: fit-content;

  .shop-preview___item-right_imgbg-holder {
    background-image: url(./images/collection2_2100x.png);
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .shop-preview___item-right__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn__shop-now {
      align-self: center;
      cursor: pointer;
      a {
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }
  }
}

.shop-preview___item-left {
  width: 50%;
  margin: 40px 20px 40px 40px;
  height: fit-content;

  .shop-preview___item-left_imgbg-holder {
    background-image: url(./images/collection1_2100x.png);
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .shop-preview___item-left__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn__shop-now {
      align-self: center;
      a {
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }
  }
}

// ~~~~~~~~~~~product preview~~~~~~~~~~~~~~~~

.product-preview {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 540px;
  z-index: 0;

  &__container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
  }

  &__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 40px;
    cursor: pointer;

    .btn__view-options:hover {
      background-color: $text-hover;
    }

    .btn__view-options {
      margin-top: 10px;
      height: 40px;
      width: 140px;
      background-color: $dark-grey;
      color: white;
      align-self: center;

      a {
        color: white;
        line-height: 40px;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }

    .btn__sold-out {
      margin-top: 10px;
      height: 40px;
      width: 140px;
      background-color: $menu-drawer-color-light;
      color: white;
      align-self: center;

      a {
        color: white;
        line-height: 40px;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }

    a {
      color: $dark-grey;
      font-family: $font-mobile-menu-text;
      font-size: 14px;
      text-decoration: none;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
    }

    span {
      text-decoration: line-through;
      padding-right: 4px;
    }

    .item-reviews__container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .stars {
        i {
          margin-left: -8px;
          transform: scale(0.8);
        }
      }
      a {
        padding-left: 5px;
        padding-top: 3px;
      }
    }
  }
  .item1 {
    margin-left: 40px;

    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/strawberries_cream_front_8462ac7e-17d5-422b-9c42-15b9e55b1f3b_900x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/strawberries_cream_back_2100x.webp);
      }
    }
  }

  .item2 {
    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/spinach_spirulina_front_15dc176b-c115-41bb-8c44-d10ab56ef135_900x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/spinach_spirulina_back_2100x.webp);
      }
    }
  }

  .item3 {
    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/ginger_pear_front_e518b744-3412-4b84-bf30-24f4a52f42a4_900x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/ginger_pear_back_c70dd33e-a1c1-4261-83c9-25f2a7f50efa_2100x.webp);
      }
    }
  }

  .item4 {
    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/beetroot_berry_front_04fa0fea-bc96-4a07-8eb6-81e70e1a8977_600x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/beetroot_berry_back_0aff03e6-bc80-4c2d-9791-f3dc1a24db0c_2100x.webp);
      }
    }
  }

  .item5 {
    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/pineapple_mango_front_1b3bbc2a-f786-4ae5-b835-4e1e9b2a0943_900x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/pineapple_mango_back_0535dd62-94ae-4b3c-8492-ee465553cf98_2100x.webp);
      }
    }
  }

  .item6 {
    &__img-holder {
      width: 100%;
      height: 21vw;
      background-image: url(./images/almond_oat_front_9ab8bbbc-c71c-48e9-bb62-81166f247b00_900x.jpg);
      background-size: cover;
      background-position: center center;
      margin-bottom: 15px;

      &:hover {
        background-image: url(./images/almond_oat_back_18b6c43b-b2c3-4aba-8322-54139654e8f3_2100x.webp);
      }
    }
  }
}

.badge.on-sale {
  // position: absolute;
  height: 30px;
  width: 85px;
  text-align: left;
  font-size: 10px;
  font-family: $font-text;
  color: white;
  line-height: 30px;
  background-color: $color-sale;
  padding-left: 20px;
}

.badge.sold-out {
  // position: absolute;
  height: 30px;
  width: 95px;
  text-align: left;
  font-size: 10px;
  font-family: $font-text;
  color: white;
  line-height: 30px;
  background-color: black;
  padding-left: 21px;
}

// ~~~~~~~~~~~video~~~~~~~~~~~~~~~~

.video {
  position: relative;
  top: 600px;
  height: 550px;
  overflow: hidden;
  margin-bottom: 60px;

  &__container {
    video {
      width: 100%;
      object-fit: cover;
      height: 550px;
    }

    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: calc(50% - 142px / 2);
      z-index: 999;
      margin-left: 80px;

      h1 {
        font-family: $font-rounded;
        font-size: 50px;
        color: white;
        letter-spacing: 1.5px;
        margin-bottom: 15px;
      }

      p {
        font-family: $font-text;
        font-size: 22px;
        color: white;
        letter-spacing: 1px;
        font-weight: lighter;
        margin-bottom: 15px;
      }
    }
    .btn__learn-more {
      width: 140px;
      height: 40px;
      background-color: white;
      text-align: center;
      a {
        font-size: 12px;
        letter-spacing: 1.5px;
        color: $dark-grey;
        font-family: $font-text;
        line-height: 40px;
        text-decoration: none;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~ discover more~~~~~~~~~~~~~~~~

.discover {
  &__content {
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    // vertical-align: middle;
    // justify-content: center;
    text-align: right;
    // margin-right: 50%;
    padding-top: calc(240px - 110px / 2);
    align-items: flex-end;

    .btn__discover-more {
      margin-top: 20px;
      // margin-left: 50%;
      width: 140px;
      height: 40px;
      background-color: $dark-grey;
      text-align: center;

      a {
        font-size: 12px;
        letter-spacing: 1.5px;
        color: white;
        font-family: $font-text;
        line-height: 40px;
        text-decoration: none;
      }
    }
    h2 {
      font-size: 26px;
      font-family: $font-rounded;
      letter-spacing: 1px;
      color: $dark-grey;
    }

    p {
      font-size: 18px;
      font-family: $font-text;
      margin-top: 10px;
      color: $dark-grey;
      letter-spacing: 0.5px;
    }
  }
  &__container {
    position: relative;
    top: 600px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;

    &__bg-container {
      width: 100vw;
      height: 500px;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./images/beetroot_berry_parralax_right_2_1200x.webp);
    }
  }
}

// ~~~~~~~~~~~~~~~references~~~~~~~~~~~
.references {
  position: relative;
  top: 600px;
  background-color: $color-references;
  height: fit-content;

  &__container {
    padding-bottom: 50px;
    h2 {
      font-size: 28px;
      font-family: $font-rounded;
      color: white;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
    }

    &_logos {
      text-align: center;
      img {
        width: 150px;
        margin: 0 15px;
        vertical-align: middle;
        flex-direction: column;
        margin-bottom: 10px;
      }
    }
  }
}

// ~~~~~~~~~~~~~testimonials~~~~~~~~~~~~~

.testimonials {
  position: relative;
  top: 600px;
  height: fit-content;
  // background-color: yellow;

  i {
    color: $dark-grey;
  }
  h2 {
    font-size: 28px;
    font-family: $font-rounded;
    color: $dark-grey;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 00px;
  }
  &__container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    height: fit-content;
    // background-color: red;
    .testimonial-content {
      width: 100%;
      max-width: 450px;
      padding: 0 20px;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-around;
      flex: 1 1 240px;
    }
    h2 {
      font-size: 28px;
      font-family: $font-rounded;
      color: $dark-grey;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    p {
      font-size: 14px;
      font-family: $font-text;
      color: $dark-grey;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 0px;
      line-height: 22px;
    }

    h6 {
      font-size: 14px;
      font-family: $font-rounded;
      color: $dark-grey;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
}

// ~~~~~~~~~~~~~about~~~~~~~~~~~~~~~

.about {
  position: relative;
  top: 600px;
  &__container {
    height: 60vw;
    max-width: 100%;
    background-image: url(./images/iStock-811329498_2100x.jpg);
    background-size: cover;
    background-position: bottom center;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content {
    padding: 30px;
    width: 50%;
    height: fit-content;
    background-color: $about-background;
    // float: right;
    margin-right: 40px;
    // vertical-align: middle;

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
      color: $dark-grey;
      font-family: $font-rounded;
      letter-spacing: 0.5px;
    }

    p {
      font-size: 14px;
      font-family: $font-text;
      line-height: 20px;
      color: $dark-grey;
    }

    .btn__discover-more {
      height: 40px;
      width: 160px;
      background-color: $dark-grey;
      margin-top: 20px;
      text-align: center;

      a {
        line-height: 40px;
        color: white;
        font-family: $font-text;
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
    }
  }
}

// ~~~~~~~~~~~~shop now~~~~~~~~~~~~~
.shop-now {
  position: relative;
  top: 640px;
  padding: 40px;
  height: fit-content;
  &__content {
    display: flex;
    flex-direction: row;

    &__left {
      width: 50%;
    }

    &__right {
      // margin-left: 20px;
      padding-left: 20px;
      position: relative;
      // top: -500px;
      width: 50%;
      float: right;

      .shop-now__content__right__container {
        padding: 40px;
        // margin-top: 40px;
        background-color: $about-background;
      }
      h3 {
        font-size: 24px;
        font-family: $font-rounded;
        letter-spacing: 1px;
        padding-bottom: 20px;
        color: $dark-grey;
      }
      h2 {
        font-size: 28px;
        font-family: $font-rounded;
        letter-spacing: 1px;
        padding-top: 10px;
        color: $dark-grey;
        padding-bottom: 10px;
      }

      p {
        font-family: $font-text;
        color: $dark-grey;
        text-align: left;
        letter-spacing: 0.5px;
        font-size: 13px;
        margin-top: 30px;
        line-height: 20px;
      }
      .quantity {
        i {
          transform: scale(0.6);
          color: $menu-drawer-color-light;
        }
        margin-top: 40px;
        span#quantity {
          margin-top: 40px;
          font-size: 11px;
          font-family: $font-text;
          color: $dark-grey;
          display: block;
        }
        input {
          font-size: 14px;
          font-family: $font-text;
          color: $dark-grey;
          display: inline-block;
          margin: 20px;
          border: none;
          width: 40px;
          text-align: center;
          background-color: transparent;
          outline: transparent;
        }
      }
      span.tax {
        font-size: 14px;
        font-family: $font-text;
        color: $dark-grey;
        letter-spacing: 0.5px;
      }

      .size {
        margin-top: 40px;
        span {
          font-size: 12px;
          font-family: $font-text;
          color: $dark-grey;
          letter-spacing: 0.5px;
        }

        .size__container {
          display: flex;
          flex-direction: row;
          a {
            margin-top: 10px;
            text-decoration: none;
            font-size: 12px;
            font-family: $font-text;
            text-align: center;
            line-height: 40px;
          }

          .size-small {
            width: 80px;
            height: 40px;
            border: 1px solid $menu-drawer-color-light;
            color: $menu-drawer-color-light;
            text-decoration: line-through;
            margin-right: 15px;
          }

          .size-medium {
            width: 80px;
            height: 40px;
            color: white;
            background-color: $dark-grey;
            margin-right: 15px;
          }

          .size-big {
            width: 85px;
            height: 40px;
            border: 1px solid $dark-grey;
            color: $dark-grey;
            margin-right: 15px;
          }
        }
      }

      .shop-now__reviews {
        display: flex;
        align-items: center;
        color: $dark-grey;
        i {
          transform: scale(0.95);
          margin-right: -4px;
        }
        a {
          font-size: 14px;
          font-family: $font-text;
          color: $dark-grey;
          padding-left: 10px;
          text-decoration: none;
          letter-spacing: 0.5px;
        }
      }

      .btn__add-to-cart {
        height: 40px;
        width: 100%;
        max-width: 280px;
        margin-right: 40px;
        margin-top: 10px;
        font-family: $font-text;
        background-color: $menu-drawer-color-light;
        color: white;
        text-align: center;
        a {
          color: white;
          line-height: 40px;
          font-size: 12px;
          letter-spacing: 1.5px;
          text-decoration: none;
          text-align: center;
        }
      }

      .btn__buy-it-now {
        height: 40px;
        width: 100%;
        max-width: 280px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 40px;
        font-family: $font-text;
        background-color: $dark-grey;
        color: white;
        text-align: center;

        a {
          color: white;
          line-height: 40px;
          font-size: 12px;
          letter-spacing: 1.5px;
          text-decoration: none;
        }
      }
    }
  }
}

.btn__buy-it-now:hover {
  background-color: $text-hover;
}

.btn__add-to-cart:hover {
  background-color: $text-hover;
}

$number-of-items: 2;

.ef-carousel {
  text-align: center;
  position: relative;
  max-width: 47vw;
  height: fit-content;
  overflow: hidden;

  &__state {
    display: none;
  }
  &__dots {
    padding-right: 20px;
  }
  &__dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $menu-drawer-color-light;
    margin: 20px 2px;
  }

  &__items {
    white-space: nowrap;
    font-size: 0;
    margin: 0 0 5px;
    overflow: hidden;
    width: 100%;
  }

  &__item {
    padding-right: 20px;
    min-width: 100%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 600ms linear;
    overflow: hidden;
  }

  &__item:first-child {
    position: relative;
  }

  @for $i from 1 through $number-of-items {
    &__state:checked:nth-child(#{$i}) ~ &__dots &__dot:nth-child(#{$i}) {
      background-color: $dark-grey;
    }
    &__state:checked:nth-child(#{$i}) ~ &__items &__item:nth-child(#{$i}) {
      opacity: 1;
    }
  }
}

// ~~~~~~~~~~~~~~~~overlay gallery~~~~~~~~~~~~~~~
.overlay-gallery-container {
  position: relative;
  top: 680px;

  h2 {
    font-size: 28px;
    font-family: $font-rounded;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 20px;
  }
  .overlay-gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .overlay-gallery__container {
      margin: 0;
      position: relative;
      width: 25%;
      height: 25vw;
      overflow: hidden;
    }

    .image {
      display: block;
      width: 100%;
      transform: scale(1.1);
    }

    .overlay {
      position: absolute; /*See above comment in container class for position: relative*/
      top: 0; /*sets the overlay to the bottom of the container*/
      width: 100%;
      height: 100%;
      transition: 0.5s ease-out;
      opacity: 0; /*Sets it to originally not be visible until below hover conditions*/
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      letter-spacing: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 12px;
        font-family: $font-mobile-menu-text;
        color: white;
      }
      h2 {
        margin-top: 10px;
        font-size: 22px;
        font-family: $font-mobile-menu-text;
        color: white;
      }
    }

    .overlay1 {
      background-image: linear-gradient(
        rgba(6, 46, 15, 0.3) 0%,
        rgba(6, 46, 15, 0.8) 75%
      );
    }

    .overlay2 {
      background: linear-gradient(
        to bottom,
        rgba(167, 135, 91, 0.3) 0%,
        rgba(167, 135, 91, 0.8) 75%
      );
    }
    .overlay3 {
      background: linear-gradient(
        to bottom,
        rgba(169, 91, 10, 0.3) 0%,
        rgba(169, 91, 10, 0.8) 75%
      );
    }
    .overlay4 {
      background: linear-gradient(
        to bottom,
        rgba(71, 10, 60, 0.3) 0%,
        rgba(71, 10, 60, 0.8) 75%
      );
    }
    .overlay5 {
      background: linear-gradient(
        to bottom,
        rgba(123, 61, 61, 0.3) 0%,
        rgba(123, 61, 61, 0.8) 75%
      );
    }
    .overlay6 {
      background: linear-gradient(
        to bottom,
        rgba(47, 103, 60, 0.3) 0%,
        rgba(47, 103, 60, 0.8) 75%
      );
    }
    .overlay7 {
      background: linear-gradient(
        to bottom,
        rgba(71, 10, 60, 0.3) 0%,
        rgba(71, 10, 60, 0.8) 75%
      );
    }
    .overlay8 {
      background: linear-gradient(
        to bottom,
        rgba(123, 61, 61, 0.3) 0%,
        rgba(123, 61, 61, 0.8) 75%
      );
    }
    .overlay-gallery__container:hover .overlay {
      opacity: 1;
    }
  }
}

// ~~~~~~~~~~~~~~~news~~~~~~~~~~~~~~

.news {
  position: relative;
  top: 760px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  input {
    display: none;
  }

  h2 {
    font-size: 28px;
    font-family: $font-rounded;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 10px;
    align-self: middle;
    letter-spacing: 1px;
  }
  span.date {
    font-size: 12px;
    font-family: $font-text;
    color: $dark-grey;
    letter-spacing: 0.5px;
    padding-top: 20px;
  }

  h3 {
    font-size: 22px;
    font-family: $font-rounded;
    color: $dark-grey;
    text-align: left;
    margin-bottom: 20px;
    align-self: middle;
    letter-spacing: 0.5px;
    margin-top: 20px;
    line-height: 23px;
  }

  p {
    font-family: $font-text;
    font-size: 13px;
    color: $dark-grey;
    line-height: 20px;
    letter-spacing: 0.3px;
    span {
      font-family: $font-rounded;
    }
  }

  a {
    text-decoration: none;
  }
  &__container {
    align-self: center;
    max-width: 304%;
    padding-left: 15px;
    padding-right: 15px;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &_col {
        padding: 15px;
        width: 33.3333%;

        .news-img-holder1 {
          width: 100%;
          height: 66vw;
          max-height: 400px;
          background-position: center center;
          background-size: cover;
          background-image: url(./images/blog_3_2100x.jpg);
          margin-bottom: 10px;
        }
        .news-img-holder2 {
          width: 100%;
          height: 66vw;
          max-height: 400px;
          background-image: url(./images/blog_1_2100x1575_crop_center.jpg);
          background-position: center center;
          background-size: cover;
          margin-bottom: 10px;
        }
        .news-img-holder3 {
          width: 100%;
          height: 66vw;
          max-height: 400px;
          background-image: url(./images/blog_2_2100x1575_crop_center.jpg);
          background-position: center center;
          background-size: cover;
          margin-bottom: 10px;
        }
      }
    }
  }
}

//~~~~~~~~~~~~~delivery & sale~~~~~~~~~~~~~~

.delivery {
  width: 100%;
  position: relative;
  top: 820px;

  &__container {
    width: 100%;
    height: fit-content;
    background-color: $color-references;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__content {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
      width: 50%;

      a {
        text-decoration: none;
      }
      h5 {
        font-family: $font-rounded;
        font-size: 15px;
        color: white;
        padding-top: 40px;
        padding-bottom: 5px;
        letter-spacing: 1px;
      }

      span {
        font-family: $font-text;
        font-size: 12px;
        color: $menu-drawer-color-dark;
        letter-spacing: 1px;
      }
    }
  }
}
